<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sitorama</title>
</head>
<body>
<h2>Создание проекта</h2>
<h4>
    Внимание: при создании проекта для добавления в файл /etc/hosts домена проекта
    может потребоваться суперпользователь (sudo).
    После отправки формы нужно обратить внимание на терминал в котором запущено приложение.
</h4>
<form method="post">
    <input type="text" name="domain" placeholder="Домаен в зоне .loc">
    <button type="submit">Создать</button>
</form>
</body>
</html>