<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Привет! Это Sitorama</h1>
<h2>сервис для локального деплоя веб-приложений на основе docker</h2>

<div>
    <h3>Состояние роутера:</h3>
    <table>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Статус</td>
            <td>Время создания</td>
            <td>Действия</td>
        </tr>
        <tr>
            <td>{{.State.Router.ID}}</td>
            <td>{{.State.Router.Name}}</td>
            <td>
                {{if .State.Router.Active}}
                    Активный
                {{else}}
                    Неактивный
                {{end}}
            </td>
            <td>{{.State.Router.CreateTime}}</td>
            <td>
                <button>Перезапустить</button>
                <button>Остановить</button>
                <button>Удалить</button>
            </td>
        </tr>
    </table>
</div>

<div>
    <h3>Состояние сервисов:</h3>
    <table>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Статус</td>
            <td>Время создания</td>
            <td>Действия</td>
        </tr>
        {{range .State.Services}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Name}}</td>
                <td>
                    {{if .Active}}
                        Активный
                    {{else}}
                        Неактивный
                    {{end}}
                </td>
                <td>{{.CreateTime}}</td>
                <td>
                    <a href="/container/restart?cid={{.ID}}">Перезапустить</a>
                    {{if .Active}}
                        <a href="/container/stop?cid={{.ID}}">Остановить</a>
                    {{else if .CanStart}}
                        <a href="/container/start?cid={{.ID}}">Запустить</a>
                    {{end}}
                    <button>Удалить</button>
                </td>
            </tr>
        {{end}}
    </table>
</div>

<form action="/init">
    <button type="submit">Инициализировать приложение</button>
</form>

<form action="/create">
    <button type="submit">Создать</button>
</form>
</body>
</html>