<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sitorama</title>
</head>
<body>
<h1>Привет! Это Sitorama</h1>
<h2>сервис для локального деплоя веб-приложений на основе docker</h2>

<div>
    {{if .AppSettings.ProjectsRoot}}
        <h4>Корневая директория проектов: {{.AppSettings.ProjectsRoot}} <a href="/settings/app">Настройки</a></h4>
    {{else}}
        <h4>НАДО ЗАПОЛНИТЬ КОРЕНЬ ПРОЕКТОВ: <a href="/settings/app">Настройки</a></h4>
    {{end}}
</div>

</h4>
<div>
    <h3>Состояние роутера:</h3>
    <table>
        <tr>
            <td>ID</td>
            <td>Сервис</td>
            <td>Контейнер</td>
            <td>Статус</td>
            <td>Время создания</td>
            <td>Действия</td>
        </tr>
        <tr>
            <td>{{.State.Router.ID}}</td>
            <td>{{.State.Router.ServiceName}}</td>
            <td>{{.State.Router.ContainerName}}</td>
            <td>
                {{if .State.Router.Active}}
                    Активный
                {{else}}
                    Неактивный
                {{end}}
            </td>
            <td>{{.State.Router.CreateTime}}</td>
            <td>
                {{if .State.Router.Active}}
                    <a href="/container/restart?cid={{.State.Router.ID}}">Перезапустить</a>
                    <a href="/container/stop?cid={{.State.Router.ID}}">Остановить</a>
                {{else if .State.Router.CanStart}}
                    <a href="/container/start?cid={{.State.Router.ID}}">Запустить</a>
                    <a href="/container/remove?cid={{.State.Router.ID}}">Удалить</a>
                {{else}}
                    <a href="/init">Инициализация</a>
                {{end}}
            </td>
        </tr>
    </table>
</div>

<div>
    <h3>Состояние проектов:</h3>
    {{range .State.Projects}}
        <table>
            <tr>
                <td><h4>{{.Name}}</h4></td>
                {{if .Active}}
                    <td>Активный</td>
                    <td><a href="/project/stop?name={{.Name}}">Остановить</a></td>
                {{else}}
                    <td>Неактивный</td>
                    <td><a href="/project/start?name={{.Name}}">Запустить</a></td>
                    <td><a href="/project/remove?name={{.Name}}">Удалить</a></td>
                {{end}}
            </tr>
        </table>
        <table>
            <tr>
                <td>ID</td>
                <td>Контейнер</td>
                <td>Статус</td>
                <td>Время создания</td>
                <td>Действия</td>
            </tr>
            {{range .Services}}
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.ServiceName}}</td>
                    <td>{{.ContainerName}}</td>
                    <td>
                        {{if .Active}}
                            Активный
                        {{else}}
                            Неактивный
                        {{end}}
                    </td>
                    <td>{{.CreateTime}}</td>
                    <td>
                        {{if .Active}}
                            <a href="/container/restart?cid={{.ID}}">Перезапустить</a>
                            <a href="/container/stop?cid={{.ID}}">Остановить</a>
                        {{else if .CanStart}}
                            <a href="/container/start?cid={{.ID}}">Запустить</a>
                            <a href="/container/remove?cid={{.ID}}">Удалить</a>
                        {{end}}
                    </td>
                </tr>
            {{end}}
        </table>
    {{end}}
</div>

<a href="/project/create">Создать проект!</a>
</body>
</html>