<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Привет! Это Sitorama</h1>
<h2>сервис для локального деплоя веб-приложений на основе docker</h2>

<div>
    <h3>Состояние роутера:</h3>
    <table>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Статус</td>
            <td>Время создания</td>
            <td>Действия</td>
        </tr>
        <tr>
            <td>{{.State.RouterState.ID}}</td>
            <td>{{.State.RouterState.Name}}</td>
            <td>
                {{if .State.RouterState.Active}}
                    Активный
                {{else}}
                    Неактивный
                {{end}}
            </td>
            <td>{{.State.RouterState.CreateTime}}</td>
            <td>
                <button>Перезапустить</button>
                <button>Остановить</button>
                <button>Удалить</button>
            </td>
        </tr>
    </table>
</div>

<form action="/init">
    <button type="submit">Инициализировать приложение</button>
</form>

<form action="/create">
    <button type="submit">Создать</button>
</form>
</body>
</html>